.display-dogs {
  text-align: center;
  background-color: #dad9d8;
  text-align: center;
  min-width: 600px;
  max-width: 50%;
  margin: auto;
  border-radius: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  line-height: 6px;
  margin-top: 10px;
  overflow-x:auto

}
.display-dogs ul {
  list-style-type: none;
  font-family: 'Questrial', sans-serif;
  padding-top: 4px;
  color: rgb(11, 11, 92);
  font-weight: bold;



}


.display-dogs li{
  padding-bottom: 10px;

}
h3 {
  font-family: 'Lato', sans-serif;
  color: rgb(11, 11, 92);
  font-weight: bold;
}

.updated{
  color: rgb(43, 39, 39);
  font-style: italic;
  font-size: 12px;

}

